<nav class="bottom-nav">

    <ul>

        <li>

            <a href="{{ url_for('dashboard.dashboard') }}">

                🏠

                <span>Inici</span>

            </a>

        </li>

        <li>

            <a href="{{ url_for('missions.missions') }}">

                🎯

                <span>Missions</span>

            </a>

        </li>

        <li>

            <a href="{{ url_for('rewards.rewards') }}">

                🎁

                <span>Recompenses</span>

            </a>

        </li>


        <li>

            <a href="{{ url_for('missions.history') }}">

                📜

                <span>Historial</span>

            </a>

        </li>


        <li>

            <a href="{{ url_for('auth.logout') }}">

                ⚙️

                <span>Sortir</span>

            </a>

        </li>

    </ul>

</nav>