
<div class="mission-card category-{{ mission.category|lower|replace(' ','-') }}">

    <div class="mission-top">

        <div class="mission-icon">

            {{ mission.icon or "📖" }}

        </div>

        <div class="mission-info">
            <h3>{{ mission.title }}</h3>
            
            {% if mission.assigned_names %}
                <div class="mb-2 flex-wrap d-flex gap-1">
                    {% for name in mission.assigned_names %}
                        <span class="badge bg-info text-white" style="font-size: 0.7rem; border-radius: 8px;">👤 {{ name }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {% if mission.description %}
                <p class="mb-2">{{ mission.description }}</p>
            {% endif %}
            <span>⭐ {{ mission.points }} XP</span>
        </div>


    </div>

    <div class="mission-meta">

        {% if mission.status == "pending" %}

            <form
                method="POST"
                action="{{ url_for('missions.complete', assignment_id=mission.assignment_id) }}"
            >

                <button
                    type="submit"
                    class="btn-ui btn-primary-ui mission-button"
                >
                    ✅ Completar
                </button>

            </form>

            {% elif mission.status == "waiting_validation" %}

            <div class="mission-button waiting">

                🕒 Pendent de validació

            </div>

            {% elif mission.status == "completed" %}

            <div class="mission-button completed">

                ✅ Completada

            </div>

            {% endif %}

    </div>

</div>